body
{
    background-color: antiquewhite;
    padding: 0;
    margin: 0;
}
.background
{
    background-color: antiquewhite;
    width: fit-content;
    height: fit-content;
    background-image: url(hand-painted-watercolor-background-with-sky-clouds-shape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.form{
    margin-left: 50%;

}